# Dependencies
node_modules/

# Build output
dist/
build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor/OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Prisma
backend/prisma/migrations/dev.db

# Misc
*.tsbuildinfo
coverage/
